{% trans_default_domain('field.tire.season') %}

{% block tire_season_field_row %}



    {# <label class="form-label">{{ 'label'|trans }}</label> #}
    {# <label class="form-label">{{ form.vars.label }}</label> #}

    {#<div {{ block('widget_container_attributes') }}>
        {% set i=1 %}
        {%- for child in form %}
            <div class="radio-{{i}}">
                {{- form_widget(child) -}}
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            </div>
            {% set i=i+1 %}
        {% endfor -%}
    </div>#}




    {% if form.vars.label or form.vars.label is null %}
        <label class="form-label">
            {% if form.vars.label is null %}
                {{ 'label'|trans }}
            {% else %}
                {{ form.vars.label }}
            {% endif %}
        </label>
    {% endif %}

    <div class="d-flex flex-column align-items-start radio-buttons gap-2 mb-3"
         data-buttons="true"
         style='clear: both'>

        {# {% if form.vars.label is null %}
			<label class="form-label">{{ 'label'|trans }}</label>
		{% endif %} #}


        {% for child in form.children|filter(child => not child.rendered) %}



            <label class="btn p-2 border-2 border-dotted rounded-3 w-100 text-muted {{ child.vars.data ? 'active' }}">
				<span class="d-flex align-items-center">
					<span class="flex-grow-1">
                        <span class="h5">
                            <span class="form-check d-flex align-items-center mb-0">
                               <span class='mb-1'>
                                   {{ form_widget(child, { label: false, attr: { class: 'btn-check' } }) }}
                               </span>

                                <span style="font-size: 1rem;">
                                    {{ include(_self|replace({ "form.row.html.twig": "template.html.twig" }), { 'value' : child.vars.value }) }}
                                </span>
                            </span>
                        </span>
					</span>
				</span>
            </label>


            {# <label class="btn px-5 py-1 border-dotted rounded-3 w-100 {{ child.vars.data ? 'active' }}">
            #}{# <input type="checkbox"
								id="product_form_price_request"
								name="product_form[price][request]"
								class="form-check-input"
								value="1"> #}{#
        {{ form_widget(child, { label : false }) }}
        #}{# <label class="form-check-label" for="product_form_price_request"></label> #}{#
        <div class="d-flex flex-column" style="font-size: 1.2rem;">
           <div class="w-100 text-start">
        #}{# <img src='{{ child.vars.value }}' alt=''> #}{#
        {{ child.vars.value|trans({}, 'field.tire.season') }}



    </div>
        #}{# <div class="text-muted small"><small>Цена по запросу имеет приоритет над базовой
															 стоимостью</small>
						</div> #}{#
        </div>

</label> #}

            {# <div class="form-group"> #}


            {# {{ form_help(child) }} #}
            {# {{ form_errors(child) }} #}
            {# </div> #}
        {% endfor %}
    </div>

{% endblock %}

